{% extends "bootstrap/base.html" %}

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h1 style="margin-top: 2rem;">Login</h1>
      {{ utils.flashed_messages() }}
      {{ wtf.quick_form(form) }}
      <br>
      <p>Need an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
  </div>
</div>
{% endblock %}
