{% extends "bootstrap/base.html" %}

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h1 style="margin-top: 2rem;">Register</h1>
      {{ utils.flashed_messages() }}
      {{ wtf.quick_form(form) }}
      <br>
      <p>Have an account already? <a href="{{ url_for('login') }}">Login</a></p>
    </div>
  </div>
</div>
{% endblock %}
